*.uasset filter=lfs diff=lfs merge=lfs -text binary
*.umap filter=lfs diff=lfs merge=lfs -text binary
*.psd filter=lfs diff=lfs merge=lfs -text binary
*.obj filter=lfs diff=lfs merge=lfs -text binary
*.fbx filter=lfs diff=lfs merge=lfs -text binary
*.png filter=lfs diff=lfs merge=lfs -text binary
*.jpg filter=lfs diff=lfs merge=lfs -text binary
*.jpeg filter=lfs diff=lfs merge=lfs -text binary
*.hdr filter=lfs diff=lfs merge=lfs -text binary
*.exr filter=lfs diff=lfs merge=lfs -text binary
*.mp3 filter=lfs diff=lfs merge=lfs -text binary
*.wav filter=lfs diff=lfs merge=lfs -text binary
*.mp4 filter=lfs diff=lfs merge=lfs -text binary
*.mov filter=lfs diff=lfs merge=lfs -text binary
*.mb filter=lfs diff=lfs merge=lfs -text binary
*.tga filter=lfs diff=lfs merge=lfs -text binary
*.cubemap filter=lfs diff=lfs merge=lfs -text binary
*.tif filter=lfs diff=lfs merge=lfs -text binary
*.bin.fbx filter=lfs diff=lfs merge=lfs -text binary
*.upk filter=lfs diff=lfs merge=lfs -text binary
*.udk filter=lfs diff=lfs merge=lfs -text binary
*.duf filter=lfs diff=lfs merge=lfs -text binary
*.blend filter=lfs diff=lfs merge=lfs -text binary
